<!DOCTYPE html>
<html lang="en">
<head>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Xello.Blue">
    <meta property="og:description" content="{{spoiler}}">
    <meta property="og:image" content="/alternative.png">
    <meta content="#A89FFF" data-react-helmet="true" name="theme-color" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/icon.png" />
</head>
<body>
    <style>
        @import url('/style.css');
        html, body {
            overflow-x: hidden;
        }
    </style>

    <span>
        <div class="box" id="article">
            <h1 style="color: var(--url)">{{title}}</h1>
            <br>
            <div id="content"><pre>{{content | safe}}</pre></div>
        </div>
        <span class="smalltext">This article was posted by {{author}} and has {{views}} views</span>
    </span>
</body>
</html>